@import
url(https://fonts.google.com/specimen/Chakra+Petch);

:root {
--cor-de-fundo: #c50960;
--verde: #ffedfe;
--branco: #ff9dba;
}


body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    }

    h1 span{
        color: var(--verde);
        }

        #dias_restantes{
        
            color: var(--verde);
            font-size: 50px;
            }
            .lacorosa {
                align-items: center;
            }